#btn-open {
  background: $blue;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 2px;
}

#popup {
  min-width: 665px;
  background: $popup-background;
  box-shadow: 0 3px 0 rgba(black, 0.3);
  padding: 19px 19px 17px;
  display: none;
  position: relative;

  &.open {
    display: flex;
  }

  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background: none;
  }

  .left-side {
    width: 386px;
    flex-shrink: 0;

    .tabs {
      display: flex;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba($tab-title-color, 0.6);
        font-size: 14px;
        height: 43px;
        padding: 0 19px;
        cursor: pointer;
        margin-right: 1px;

        &.active {
          color: $tab-title-color;
          background: white;
        }
      }
    }

    .tab-content {
      background: white;
      padding: 26px 20px 29px;

      .tab-pane {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .form-group {
      margin-bottom: 10px;

      label {
        display: block;
        color: $form-label-color;
        margin-bottom: 5px;
      }

      a {
        text-decoration: none;
        font-size: 12px;
        margin-top: 25px;
      }
    }

    .form-control {
      width: 100%;
      font-size: 12px;
      color: $input-text-color;
      height: 38px;
      padding: 0 7px;
      box-sizing: border-box;
      border-radius: 1px;
      border: 1px solid $input-border-color;
      box-shadow: 0 3px 0 rgba(black, 0.05);
    }

    .btn-login {
      width: 219px;
      height: 40px;
      background: $btn-login-background;
      border: 0;
      color: white;
      margin-top: 15px;

      &:hover {
        background-color: darken($btn-login-background, 12%);
      }
    }
  }

  .right-side {
    margin-left: 40px;
    margin-right: 18px;
    width: 100%;

    .header {
      color: $tab-title-color;
      font-size: 14px;
      height: 43px;
      line-height: 43px;
      margin-bottom: 57px;
    }

    .btn {
      border-radius: 2px;
      height: 51px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      text-decoration: none;

      &-primary {
        background: $blue;

        &:hover {
          background-color: darken($blue, 12%);
        }
      }

      &-danger {
        background: $red;

        &:hover {
          background-color: darken(red, 12%);
        }
      }

      .icon {
        height: 22px;
        margin-left: 20px;
      }

      .text {
        width: 100%;
        color: white;
        text-align: center;
        font-size: 16px;
        margin-right: 20px;
      }
    }
  }
}