#popup {
  min-width: 665px;
  background: $popup-background;
  box-shadow: 0 3px 0 rgba(black, 0.3);
  padding: 19px 19px 17px;
  display: flex;
  position: relative;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}