#popup {
  min-width: 665px;
  background: $popup-background;
  box-shadow: 0 3px 0 rgba(black, 0.3);
  padding: 19px 19px 17px;
  display: flex;
  position: relative;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .left-side {
    width: 386px;
    flex-shrink: 0;

    .tabs {
      display: flex;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba($tab-title-color, 0.6);
        font-size: 14px;
        height: 43px;
        padding: 0 19px;
        cursor: pointer;
        margin-right: 1px;

        &.active {
          color: $tab-title-color;
          background: white;
        }
      }
    }

    .tab-content {
      background: white;
      padding: 26px 20px 29px;

      .tab-pane {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .form-group {
      margin-bottom: 10px;

      label {
        display: block;
        color: $form-label-color;
        margin-bottom: 5px;
      }

      a {
        text-decoration: none;
        font-size: 12px;
        margin-top: 25px;
      }
    }

    .form-control {
      width: 100%;
      font-size: 12px;
      color: $input-text-color;
      height: 38px;
      padding: 0 7px;
      box-sizing: border-box;
      border-radius: 1px;
      border: 1px solid $input-border-color;
      box-shadow: 0 3px 0 rgba(black, 0.05);
    }

    .btn-login {
      width: 219px;
      height: 40px;
      background: $btn-login-background;
      border: 0;
      color: white;
      margin-top: 15px;
    }
  }
}