$blue: #48629b;
$red: #dc4b38;
$orange: #f36f36;

$main-background: #999999;
$popup-background: #f1f1f1;
$tab-title-color: #424242;
$form-label-color: #888888;

$input-text-color: #545454;
$input-border-color: #929292;

$btn-login-background: $orange;